{% extends 'admin/base_site.html' %} {% block content %}
<h1>Hello There</h1>

<dl>
  <dt>Capital:</dt>
  <dd>{{ capital }}</dd>

  <dt>Total Money received from Orders:</dt>
  <dd>{{ total_money_received_from_orders }}</dd>

  <dt>Total Missing Money from all providers:</dt>
  <dd>{{ total_missing_money }}</dd>
  <br /> 
  <dt>Email:</dt>
  <dd>{{ email }}</dd>
  <form action="{% url 'generate_pdf' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Generate PDF</button>
  </form>
</dl>
{% endblock %}
